/* Variables */
/* Mixins */
/* Custom Styles */
body {
  background: #ededed url(../img/css/light_noise_diagonal.png) repeat top left;
  font: 18px "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em; }

header {
  min-height: 250px;
  background: white;
  padding: 40px;
  border-bottom: 1px solid #cdcdcd; }

a {
  text-decoration: underline; }

#content {
  max-width: 600px;
  margin: 35px auto; }

#left-content {
  width: 100%; }

/*#right-content{
	float:right;
	width:50%;
}
*/
#more-information input {
  padding: 8px;
  width: 300px;
  margin-top: 8px; }

footer {
  min-height: 100px;
  background: white;
  border-top: 1px solid #cdcdcd;
  font-size: 12px; }

h1 {
  font: 96px "Reenie Beanie", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h2 {
  font: 56px "Reenie Beanie", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: red;
  margin-bottom: 35px; }

.fn {
  position: relative;
  text-decoration: none;
  top: -7px;
  font-size: 60%;
  color: inherit; }
  .fn:hover {
    text-decoration: none;
    color: #000; }

#fn-details {
  color: #999; }
  #fn-details a {
    text-decoration: none; }

.button {
  font: 24px "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  background: -moz-linear-gradient(top, #008bee 0%, #0066cc);
  background: -webkit-gradient(linear, left top, left bottom, from(#008bee), to(#0066cc));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #265fb6;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 0.7);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3); }
